.chat-main
  .chat-main__group-info
    .container
      .container__left
        .group-name
          =@group.name
        .member-list
          -@group.users.each do |user|
            = user.name
      .container__btn
        =link_to edit_group_path(@group.id), class: "edit-btn" do
          Edit
  .chat-main__message-list
    .messages
      = render @messages
  .chat-main__message-form
    .container
      .message-contanier
        = form_for [@group, @message] do |f|
          .textarea
            = f.text_field :content, class: 'message-area', placeholder: 'type a message'
            .imagearea 
              = f.label :image do
                = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
          .btn
            = f.submit 'Send', class: 'send-btn'

